/*Reset CSS*/
 li, ul, p {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 #ul-no-style {
   list-style-type: none;
  }

 body {
   width: 750px;
   margin: 0 auto;
 }

#search-form {
  padding-bottom: 40px;
}

#clear-search {
  float: right;
  width: 97px;
}

li {
  padding: 10px;
  border-bottom: 1px solid grey;
}

p {
  padding-right: 10px;
  display: inline;
}



/*Mobile*/

@media screen and (max-width: 750px) {
  body {
    width: 300px;
  }

  p {
    display: block;
    padding-bottom: 5px;
  }

  label {
    display: block;
  }

  #clear-search {
    float: left;
  }
}
