<div id="search-form">
  <h2>Search Songs:</h2>

  <form action="/search_results">
    <label>
      Artist Name:
      <input type="text" name="artist_name" value="">
    </label>

    <label>
      Album Title:
      <input type="text" name="album_title" value="">
    </label>

    <label>
      Song Title:
      <input type="text" name="song_title" value="">
    </label>

    <input type="submit" value="Search">
  </form>

</div>
